%div.container
	%h1
		¿TE DESPIDIERON?
	%h2
		Hace tu consulta GRATIS ahora mismo por Whatsapp  con un Abogado Especialista
	%div.center
		= link_to image_tag('whatsapp_logo.png'), "https://api.whatsapp.com/send?phone=5493516334499"
	%h3
		Abogado Gonzalo Vilchez
	%h4
		Estudio Laboral
	%h4
		Córdoba, Argentina
