%div.container
	%h1
		¿TE DESPIDIERON?
	%h2
		Llama y hace tu consulta GRATIS con un Abogado Especialista
	%div.center
		%a.btn.btn-success{:type=> "button", :href => "tel:3516334499"} 03516334499
	%h3
		Abogado Gonzalo Vilchez
	%h4
		Estudio Laboral
	%h4
		Córdoba, Argentina
